<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="customerDAO" class="com.dante.demojdbc10.model.dao.JdbcCustomerDAOImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="customerTemplate" class="com.dante.demojdbc10.model.dao.JdbcTemplateCustomerDAOImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <bean id="customerSupportTemplate" class="com.dante.demojdbc10.model.dao.JdbcTempSupportDAOImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>
</beans>